/* Allgemein */

@font-face {
    font-family: 'SEGA-LOGO-FONT';
    src:url('https://sikop.github.io/fonts/SEGA-LOGO-FONT.ttf.woff') format('woff'),
        url('https://sikop.github.io/fonts/SEGA-LOGO-FONT.ttf.svg#SEGA-LOGO-FONT') format('svg'),
        url('https://sikop.github.io/fonts/SEGA-LOGO-FONT.ttf.eot'),
        url('https://sikop.github.io/fonts/SEGA-LOGO-FONT.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

body.disabled-onepage-scroll .onepage-wrapper section {
    min-height: 80%;
}

h1 {
    font-family: 'SEGA-LOGO-FONT';
    font-weight: normal;
    color: #C10011 !important;
    font-size: 58px;
}

h2 {
    font-family: 'SEGA-LOGO-FONT';
    font-weight: normal;
    color: #C10011 !important;
}

.heading:after {
    display: none;
}

a {
    color: #C10011;
}

a:hover, a:focus {
    color: #C10011;
}

#page1 .icon {
    border: 0px !important;
}

/* Mobil*/

@media (max-width: 991px) {

    .img-responsive {
         margin: 0 auto;
         max-width: 75% !important;
         margin-top: 105px;
    }


}